@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    color: #666;
  }
}

ul {
  list-style: none;
}